.advantage {
  padding-bottom: 0;
}
.advantages-title {
  display: flex;
}
.advantages-title .advantages-item {
  width: calc((100% - 90px) / 4);
}
.advantages-title .advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
  margin-bottom: 10px;
  &::before {
    content: "";
    display: block;

    width: 270px;
    height: 120px;
    border-radius: 4px;

    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}
.antenna::before {
  content: "";
  background-image: url(../images/us/antenna.svg);
}
.clock::before {
  content: "";
  background-image: url(../images/us/clock.svg);
}
.diagram::before {
  content: "";
  background-image: url(../images/us/diagram.svg);
}
.astronaut::before {
  content: "";
  background-image: url(../images/us/astronaut.svg);
}
