footer {
  color: $primery-background-color;
  background-color: #2f303a;
}
.footer-box {
  width: 270px;
  margin-right: 30px;
}
.footer-box-2 {
  width: 570px;
}
.footer-appeal {
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;

  margin-bottom: 20px;
}
