.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/hero.jpg);

  &-title {
    font-weight: 900;

    font-size: 26px;
    line-height: 1.62;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $primery-background-color;

    margin-top: 106px;
    margin-bottom: 30px;
  }
}
